.track {
  display: flex;
  align-items: center;
}

.track__image {
  height: 50px;
  width: 50px;
  border: 1px inset whitesmoke;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  background: none;
  border: none;
}
