.searchInput {
  border-radius: 19px;
  background: #292e4b;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.searchInput input {
  background-color: #292e4b;
  border: none;
  padding: 0px 25px;
  opacity: 1;
}
